body{
    display:flex;
    flex-direction:column;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    
}

.header{
    background-color:#ffe2fb;
}

.header-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 200px;
    background-color:#4b2f66;
}

.header-logo{
    display:flex;
    font-size:24px;
    color:#fceffa;
    font-weight:bold;
}

.blue-sign:hover, .call-sign:hover{
    cursor: pointer;
    background-color:#594d64;
}

ul{
    display:flex;
    padding-left:0;
    list-style-type:none;
    font-size:18px;
    color:#fceffa;
    gap:40px;
}

li:hover{
    cursor: pointer;
    color: gray;
}

.header-bottom{
    display:flex;
    justify-content:space-between;
    margin:100px 200px;
}

.hero{
    display:flex;
    flex-direction:column;
    width:450px;
    justify-content:center;
    border-radius:8px;
}

.hero-main{
    font-size:50px;
    font-weight:bolder;
    margin-bottom:10px;
    color: rgb(62, 34, 105);
}

.hero-secondary{
    font-size:20px;
    color:#4b2f66;
    margin:8px 0px;
}

.hero-box{
    display:flex;
    flex-direction:column;
    border-radius:8px;
}

.hero-content{
    border-radius:50%;
}

button{
    border-radius: 8px;
}

button.blue-sign{
    height:25px;
    width:95px;
    background-color:#b692db;
    border:1px solid #b692db;
    color:white;
}
.content{
    display:flex;
    align-items:center;
    border-radius:10%;
}

.body{
    display:flex;
    flex-direction:column;
    height:600px;
    justify-content:center;
}

.info-title{
    display:flex;
    font-size:48px;
    font-weight:bolder;
    color: rgb(62, 34, 105);
    justify-content:center;
    padding-bottom:100px;
}
.info{
    display:flex;
    justify-content:center;
    gap:80px;
}

.boxes{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    color:#b692db;
}

.boxes:hover{
    transform:translateY(-3%);
    cursor:pointer;
}

.content:hover{
    box-shadow: 0 0 0.6em black;
}

.text{
    text-align:center;
    font-weight:bold;
    margin-top:10px;
    width:200px;
    font-size:20px;
}
.quote-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:75px 400px;
    background-color:#594d64;
}

.quote{
    font-size:36px;
    font-style:italic;
    color:#ffe2fb;
}

.author{
    display:flex;
    justify-content:flex-end;
    font-size:24px;
    font-weight:bold;
    color:#ffe2fb;
}

.call{
    display:flex;
    padding:25px 150px;
    margin:80px 300px;
    border-radius:8px;
    justify-content:space-between;
    align-items:center;
    background-color:#b692db;
}

.call-left{
    display:flex;
    flex-direction:column;
}

.call-title{
    font-size:24px;
    color:white;
    font-weight:bold;
}

.call-text{
    color:white;
}

.call-right{
    display:flex;
}

.call-sign{
    background-color:#b692db;
    border-color:#fceffa;
    border-style:solid;
    color:#fceffa;
    width:100px;
    height:30px;
}

.footer{
    display:flex;
    justify-content:center;
    background-color:#594d64;
    color:#fceffa;
    height:50px;
    align-items:center;
}